<div data-link="<%= event_path(event) %>" class="card event" data-where="<%= event.where %>">
  <div class="image">
    <%= image_tag("#{event.category}.jpg") %>
  </div>
  <div class="content">
    <div class="header"><%= event.title %></div>
    <div class="meta">
      <a><%= "#{event.user.name} #{event.user.surname}" %></a>
    </div>
    <div class="description">
      <%= event.description %>
    </div>
  </div>
  <div class="extra content">
  <span class="left floated">
      <i class="user icon"></i>
      <%= event.joined.count %>
  </span>
    <span class="right floated">
      <i class="calendar icon"></i>
      <%= event.when.to_s :long %>
    </span>
  </div>
</div>