<br>
<div class="ui green tree secondary menu">
  <%= link_to("Strona główna", root_path, class:"item") %>
  <a class="item active">Spotkania</a>
  <%= link_to("Kontakt", contact_path, class:"item") %>
  
</div>
<%= image_tag("logo.png", class: "ui fluid logo image") %>
<div class="ui olive raised center aligned segment">
  <div id="eventmap" style='height: 324px;'></div>
</div>
<div class="ui center aligned basic segment">
  <%= link_to("Stwórz nowe spotkanie", new_event_path, class:"ui green button") %>
</div>
<div class="ui center aligned basic segment">
  <div class="ui action fluid event-search input">
    <input type="text" placeholder="Przeszukaj spotkania..">
    <button class="ui icon search button"><i class="search icon"></i></button>
  </div>
</div>
<div class="ui center aligned basic segment">
  <div class="ui link centered event cards">
    <%= render @events %>
  </div>
</div>
