<br>
<div class="ui green tree secondary menu">
  <%= link_to("Strona główna", root_path, class:"item") %>
  <a class="item active">Spotkania</a>
  <%= link_to("Kontakt", contact_path, class:"item") %>
  
</div>
<%= image_tag("logo.png", class: "ui fluid image") %>
<div class="ui olive raised center aligned segment">
  <div id="eventmap" style='height: 324px;'></div>
</div>
<div class="ui center aligned basic segment">
  <%= link_to("Stwórz nowe spotkanie", new_event_path, class:"ui green button") %>
</div>
<div class="ui center aligned basic segment">
  <div class="ui link centered cards">
    <% @events.each do |event| %>
      <div data-link="<%= event_path(event) %>" class="card event" data-where="<%= event.where %>">
        <div class="image">
          <%= image_tag("#{event.category}.jpg") %>
        </div>
        <div class="content">
          <div class="header"><%= event.title %></div>
          <div class="meta">
            <a><%= "#{event.user.name} #{event.user.surname}" %></a>
          </div>
          <div class="description">
            <%= event.description %>
          </div>
        </div>
        <div class="extra content">

        <span class="left floated">
            <i class="user icon"></i>
            <%= event.joined.count %>
     </span>
          <span class="right floated">
            <i class="calendar icon"></i>
            <%= event.when.to_s :long %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="stopka" class="ui olive raised center aligned segment">
  <center><p>
  Copyright © 2018<br>
  Tomasz Król, Adam Badula, Agnieszka Madeła <br>
  </p></center>
</div>