<br>
<div class="ui green tree secondary  menu">
  <%= link_to("Strona główna", root_path, class:"item") %>
  <%= link_to("Spotkania", events_path, class:"item") %>
  <%= link_to("Kontakt", contact_path, class:"item") %>
</div>
<%= image_tag("logo.png", class: "ui fluid logo image") %>
<div class="ui olive raised center aligned segment">
  <div class="ui stackable two column grid">
    <div class="column">
    <!-- <div id="formularz"> -->
      <div class="ui attached message">
        <div class="header">
          Utwórz spotkanie
        </div>
        <p>To nigdy nie było tak proste!</p>
      </div>
      <%= form_for(@event, html: {class: "ui form attached fluid segment"}) do |f| %>
        <div class="field">
          <label>Tytuł</label>
          <%= f.text_field :title, placeholder:"Tytuł" %>
        </div>
        <div class="field">
          <label>Opis</label>
          <%= f.text_field :description, placeholder:"Opis" %>
        </div>
        <div class="field">
          <label>Typ wydarzenia</label>
          <%= f.select :category, Array.new(11) {|i| [category_to_name(i+1),i+1]}, {}, {class: "ui dropdown"} %>
        </div>
        <div class="field">
          <label>Data</label>
          <%= f.text_field :when, placeholder:"Data" %>
        </div>
        <%= f.hidden_field :where %>
        <%= f.submit("Utwórz", class:"ui blue submit button") %>
      <% end %>
    <!-- </div> -->
    </div>
    <div class="column">
      <div class="ui segment">
        <div id="createmap" style='height: 400px;'></div>
      </div>
    </div>
  </div>
</div>
