<!-- <div class="ui basic center aligned segment">-->
  <br/>
	<div class="ui stackable two column grid">
		<div class="column">
  		<div class="ui olive column raised center aligned segment">
  		  <%= image_tag("#{@event.category}.jpg", class:"ui fluid image") %>
  		</div>
      <div class="ui olive column raised center aligned segment">
    		<span style="font-size:30px; line-height: 50px; font-weight:bold; text-transform:uppercase;"><%= @event.title %></span>
    		<br><br>
    		<span style="font-size:20px; line-height: 35px;">
    		<b>Organizator: </b><a href="<%= user_path(@event.user) %>"> <%= "#{@event.user.name} #{@event.user.surname}" %></a><br>
    		<b>Kategoria: </b><%= category_to_name @event.category %><br>
    		<b>Opis: </b><%= @event.description %> <br>
    		<b>Data: </b><%= @event.when.to_s :long %><br>
    		<b>Ilość uczestniczących już osób: </b> <%= @event.joined.count %>
    		</span>
    		<br><br>
        <% if logged_in? %>
          <% if @joined.count == 0 %>
            <%= link_to("Dołącz", event_join_path(@event), class:"ui green button") %>
          <% else %>
            <%= link_to("Zrezygnuj", leave_event_path(@event), class:"ui orange button") %>
          <% end %>
        <% end %>
        <%= link_to("http://www.facebook.com/share.php?u=http://localhost:3000#{url_for(@event)}", class:"ui facebook button") do %>
          <i class="facebook icon"></i>Udostępnij <span class="tablet-hidden">na Facebooku</span>
        <% end %>
      </div>
		</div>
		<div class="column">
			<div class="ui olive column raised center aligned segment">
				<div id="showthemap" data-where="<%= @event.where %>"></div>
			</div>
		</div>
    <div class="sixteen wide column">
      <div class="ui olive raised segment">
        <div class="ui stackable two column grid">
          <div class="column">
            <div class="ui comments">
              <h3 class="ui header">Posty użytkowników</h3>
              <% if @event.posts.empty? %>
                <div class="ui message">
                  Brak wiadomości
                </div>
              <% end %>
              <% @event.posts.order(created_at: :desc).limit(6).each do |post| %>
                <div class="comment">
                  <a class="avatar"><i class="big user icon"></i></a>
                  <div class="content">
                    <a class="author" href="<%= user_path(post.user) %>"><%= "#{post.user.name} #{post.user.surname}" %></a>
                    <div class="metadata">
                      <span class="date"><%= post.created_at.to_s :long %></span>
                    </div>
                    <div class="text"><%= post.content %></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="column">
            <%= form_for([@event, Post.new], html: {class: "ui reply form"}) do |f| %>
              <div class="field">
                <%= f.text_area :content, placeholder: "Wiadomość" %>
              </div>
              <% if logged_in? %>
                <%= f.submit("Dodaj wiadomość", class: "ui blue button") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
	</div>
<!-- </div>-->
