<!DOCTYPE html>
<html>
  <head>
    <title>PiastCode</title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <script src="//maps.google.com/maps/api/js?key=AIzaSyDSi_n0DKUFHcC7d4cbqANACFb_oPvJZ3A"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="ui inverted attached borderless orange menu">
      <div class="ui container">
        <%= link_to(root_path, class: item_active?(root_path)) do %>
          <i class="home icon"></i> Let's MeetUp
        <% end %>
        <%= link_to(events_path, class: item_active?(events_path, true)) do %>
          <i class="calendar alternate icon"></i> Wydarzenia
        <% end %>
        <%= link_to(contact_path, class: item_active?(contact_path, true)) do %>
          <i class="envelope open outline icon"></i> Kontakt
        <% end %>
        <div class="right menu">
          <div class="ui dropdown item">
            Użytkownik <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">Zaloguj się</a>
              <a href="<%= new_user_path %>" class="item">Rejestracja</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui container">
      <br>
      <% flash.each do |type, message| %>
        <div class="ui <%= type %> message"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    <div id="stopka" class="ui olive center aligned attached segment">
      <p>
        Copyright © 2018<br>
        Tomasz Król, Adam Badula, Agnieszka Madeła<br>
      </p>
    </div>
  </body>
</html>
